In [2]:
pwd

'C:\\Users\\Gabriel\\Desktop\\Mes documents - Google Drive\\DATA\\19\\day02\\ex03'

In [52]:
import pandas as pd
y= 'C:/Users/Gabriel/Desktop/Mes documents - Google Drive/DATA/19/day02/ex03/good.csv'
x = pd.read_csv(y)
x

    Name       "Sex"   "Age"   "Height (in)"   "Weight (lbs)"
0   Alex         "M"      41              74              170
1   Bert         "M"      42              68              166
2   Carl         "M"      32              70              155
3   Dave         "M"      39              72              167
4   Elly         "F"      30              66              124
5   Fran         "F"      33              66              115
6   Gwen         "F"      26              64              121
7   Hank         "M"      30              71              158
8   Ivan         "M"      53              72              175
9   Jake         "M"      32              69              143
10  Kate         "F"      47              69              139
11  Luke         "M"      34              72              163
12  Myra         "F"      23              62               98
13  Neil         "M"      36              75              160
14  Omar         "M"      38              70              145
15  Page         "F"      31              67              135
16  Quin         "M"      29              71              176
17  Ruth         "F"      28              65              131

In [51]:
import csv
with open('good.csv') as f:
    data = f.read()
    x = next(csv.reader(f))
    print(x)
    #print(data)
    
    
#     header = f.readline(10)
#     print(header)

StopIteration:

In [53]:
f = open("good.csv", "r")
import pandas as pd
y= 'C:/Users/Gabriel/Desktop/Mes documents - Google Drive/DATA/19/day02/ex03/good.csv'
x = pd.read_csv(y)
xprint(f.readlines())

['"Name",     "Sex", "Age", "Height (in)", "Weight (lbs)"\n', '"Alex",       "M",   41,       74,      170\n', '"Bert",       "M",   42,       68,      166\n', '"Carl",       "M",   32,       70,      155\n', '"Dave",       "M",   39,       72,      167\n', '"Elly",       "F",   30,       66,      124\n', '"Fran",       "F",   33,       66,      115\n', '"Gwen",       "F",   26,       64,      121\n', '"Hank",       "M",   30,       71,      158\n', '"Ivan",       "M",   53,       72,      175\n', '"Jake",       "M",   32,       69,      143\n', '"Kate",       "F",   47,       69,      139\n', '"Luke",       "M",   34,       72,      163\n', '"Myra",       "F",   23,       62,       98\n', '"Neil",       "M",   36,       75,      160\n', '"Omar",       "M",   38,       70,      145\n', '"Page",       "F",   31,       67,      135\n', '"Quin",       "M",   29,       71,      176\n', '"Ruth",       "F",   28,       65,      131\n']

In [91]:

filename = 'C:/Users/Gabriel/Desktop/Mes documents - Google Drive/DATA/19/day02/ex03/bad.csv'


with open(filename) as f:
            reader = csv.reader(f)
            list_reader = list(reader)
            print(list_reader[0])
            lines = len(list_reader)
            print(lines)

            sizex = len(str(list_reader[0]).split(','))
            print(sizex)
            for x in range(lines):
                sizey = len(str(list_reader[x]).split(','))
#                 print(sizey)
                if sizey > sizex:
                    print("ERROR : file corrupted (at least one line with too many elements")
                    break
            print("not corrupted")

['Game Number', ' "Game Length"']
1002
2
ERROR : file corrupted (at least one line with too many elements
not corrupted

In [94]:
listy = range(1000)
ret = 0
start_time = time.time()
for elem in ft_progress(listy):
    ret += (elem + 3) % 5
    sleep(0.01)
print()
print(ret)

NameError: name 'ft_progress' is not defined

In [ ]:
a = range(1000)
def ft_progress(lst):
    pass

In [113]:
import sys
import time

a = 21
for i in range(a):
    sys.stdout.write('\r')
    sys.stdout.write("[%-20s] %d%%" % ('='*i, 5*i))
    #sys.stdout.flush()
    time.sleep(0.25)

[====================] 100%

In [130]:
import sys
import time

a = 21
for i in range(a+1):
    sys.stdout.write('\r')
    sys.stdout.write('[{}{}] {}%'.format( (round(i/a*20))*'=', (20-round(i/a*20))*' ', round(i/a*100)) )
    #sys.stdout.flush()
    time.sleep(0.25)

[====================] 100%

In [151]:
import sys
import time

a = 21
for i in range(a+1):
    
    if i/a == 1: 
        x='' 
    else: 
        x='>'
        
    print('[{}{}{}] {}%'.format( (round(i/a*20))*'=', x ,(20-round(i/a*20))*' ', round(i/a*100)) , end ="\r")
    time.sleep(0.25)

In [161]:
import sys
import time

a = 21
ts = time.time()
for i in range(1,a+1):
    
    if i/a == 1: 
        x='' 
    else: 
        x='>'
    te = time.time()
    elapsed = te - ts
    ETA = elapsed/i*a - elapsed
    print('ETA: {}s [ {}%][{}{}{}] {}/{} | elapsed time {}s'.format(
        round(ETA,2), round(i/a*100), (round(i/a*20))*'=', x ,(20-round(i/a*20))*' ',  i, a , round(elapsed,2)
        ), end ="\r")
    
    time.sleep(0.3)